@import url("./reset.css");
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

body{
    font-size: 16px;
}

.container{
    max-width: 1200px;
    width: 100%;
    
    padding: 0 10px;
    margin: 0 auto;
}

:root{
    --white-color: #FDFDFD;
    --white-back-color: #ffffff20;
    --gray-color: #1A3E3E;
    --black-color: #18121E;
    --yellow-color: #F2BE22;
    --beige-color: #F3F5F4;
    --white-transp: #FFFFFF30;
    --white-transp-two: #FFFFFF20;

}