.share{
    position: relative;
    z-index: 3;
    padding-bottom: 150px;
}

.share__inner{
    padding-top: 80px;
    padding-bottom: 100px;
}

@media screen and (max-width:768px){
    .share__inner{
        padding-top: 50px;
        padding-bottom: 300px;
    }
}

@media screen and (max-width:576px){
    .share__inner{
        padding-top: 50px;
        padding-bottom: 350px;
    }
}

.share__text__block{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;

    padding-bottom: 40px;
}

@media screen and (max-width:768px){
    .share__text__block{
        align-items: flex-start;
    }
}

.share__text__first{
    font-family: 'Nunito Sans',sans-serif;
    font-weight: normal;
    font-size: 1.5rem;

    color: var(--yellow-color);
}

@media screen and (max-width:768px){
    .share__text__first{
        font-size: 1rem;
    }
}

.share__text__second{
    font-family: 'Nunito Sans',sans-serif;
    font-weight: bold;
    font-size: 2rem;

    color: var(--black-color);
}

@media screen and (max-width:768px){
    .share__text__second{
        font-size: 1.5rem;
    }
}

.share__image{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

@media screen and (max-width:768px){
    .share__image{
        display: flex;
        flex-direction: row; 
        overflow-x: auto;
        overflow-y: hidden;
        scroll-snap-type: x mandatory;
        gap: 20px; 
        width: 100%;
        height: 275px;
        -webkit-overflow-scrolling: touch;
    }
}

.share__image li:nth-child(1){ grid-area: 1 / 1 / 2 / 3; }
.share__image li:nth-child(2){ grid-area: 1 / 3 / 2 / 4; }
.share__image li:nth-child(3){ grid-area: 1 / 4 / 2 / 5; }
.share__image li:nth-child(4){ grid-area: 2 / 1 / 3 / 2; }
.share__image li:nth-child(5){ grid-area: 2 / 2 / 3 / 4; }
.share__image li:nth-child(6){ grid-area: 2 / 4 / 3 / 5; }

@media screen and (max-width: 768px){
    .share__image li:nth-child(1),
    .share__image li:nth-child(2),
    .share__image li:nth-child(3),
    .share__image li:nth-child(4),
    .share__image li:nth-child(5),
    .share__image li:nth-child(6){
        grid-area: unset;
    }
}

@media screen and (max-width:768px){
    .share__image__item{
        display: flex;
        justify-content: unset;
        flex-direction: column;
        flex: 0 0 auto;
        width: 280px;
        height: 250px;
        scroll-snap-align: start;
        gap: 16px;
        padding: unset;
    }
}

.first__image__small,
.fiveth__image__small{
    display: none;
}

@media screen and (max-width:768px){
    .first__image__small,
    .fiveth__image__small{
        display: flex;
    }

    .first__image__big,
    .fiveth__image__big{
        display: none;
    }
}

.share__button_block{
    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 66px;
}

.share__button{
    font-family: 'Nunito Sans',sans-serif;
    font-weight: 600;
    font-size: 1rem;

    color: var(--white-color);
    background-color: var(--gray-color);
    
    padding: 16px 36px;
}

.share__button:hover{

    background-color: unset;
    color: var(--gray-color);
}

.share__actual{
    width: 100%;
    max-width: 1180px;
    display: flex;
    position: absolute;
    bottom: 0;
    max-width: 1180px;
    transform: translate(-50%, 50%);
    z-index: 1000;
    left: 50%;

    box-shadow: 0 0 15px var(--black-color);
    border-radius: 6px;

    background-color: var(--white-color);

}

@media screen and (max-width:768px){
    .share__actual{
        transform: translate(-50%, 0%);
    }
}

.share__actual__content_conteiner{
    display: flex;
    justify-content: space-between;
    gap: 64px;

    padding: 40px 100px;
}

@media screen and (max-width:1200px){
    .share__actual__content_conteiner{
        gap: 48px;
    }
}

@media screen and (max-width:992px){
    .share__actual__content_conteiner{
        justify-content: unset;
        flex-direction: column;
        gap: 16px;
    }
}

@media screen and (max-width:576px){
    .share__actual__content_conteiner{
        justify-content: unset;
        gap: 24px;

        padding: 20px;
    }
}

.share__actual__text__block{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.share__actual__text__block__first{
    font-family: 'Nunito Sans',sans-serif;
    font-weight: normal;
    font-size: 1.125rem;

    color: var(--yellow-color);
}

@media screen and (max-width:1200px){
    .share__actual__text__block__first{
        font-size: 1rem;
    }
}

@media screen and (max-width:992px){
    .share__actual__text__block__first{
        font-size: 1.125rem;
    }
}

@media screen and (max-width:576px){
    .share__actual__text__block__first{
        display: none;
    }
}

.share__actual__text__block__first__shadow,
.share__actual__text__block__second__shadow{
    display: none;
}

@media screen and (max-width:576px){
    .share__actual__text__block__first__shadow,
    .share__actual__text__block__second__shadow{
        display: flex;
    }   
}

.share__actual__text__block__first__shadow{
    font-family: 'Nunito Sans',sans-serif;
    font-weight: normal;
    font-size: 1rem;

    color: var(--yellow-color);
}


.share__actual__text__block__second{
    font-family: 'Nunito Sans',sans-serif;
    font-weight: bold;
    font-size: 1.625rem;

    color: var(--black-color);
}

@media screen and (max-width:1200px){
    .share__actual__text__block__second{
        font-size: 1.4rem;
    }
}

@media screen and (max-width:992px){
    .share__actual__text__block__second{
        font-size: 1.625rem;
    }
}

@media screen and (max-width:576px){
    .share__actual__text__block__second{
        display: none;
    }
}

.share__actual__text__block__second__shadow{
    font-family: 'Nunito Sans',sans-serif;
    font-weight: bold;
    font-size: 1.5rem;

    color: var(--black-color);
}

.share__actual__content{
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
    justify-content: center;
}

.actual__content__upper__text{
    font-family: 'Nunito Sans',sans-serif;
    font-weight: 600;
    font-size: 1rem;

    color: var(--black-color);
}

@media screen and (max-width:1200px){
    .actual__content__upper__text{
        font-size: 0.875rem;
    }
}

@media screen and (max-width:992px){
    .actual__content__upper__text{
        font-size: 1rem;
    }
}

.actual__content__block{
    display: flex;
    justify-content: space-between;
    gap: 16px;
    align-items: center;
}

@media screen and (max-width:768px){
    .actual__content__block{
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 12px;
    }
}

@media screen and (max-width:576px){
    .actual__content__block{
        align-items: flex-start;
    }
}

.email__input{
    display: flex;
    max-width: 280px;
    height: 100%;
    font-family: 'Nunito Sans',sans-serif;
    font-weight: normal;
    font-size: 0.875rem;
    

    display: flex;

    padding: 12px 16px;
    border-radius: 6px;

    border:none;

    color: var(--black-color);
    background-color: var(--beige-color);
}

@media screen and (max-width:1200px){
    .email__input{
        font-size: 0.675rem;
    }
}

@media screen and (max-width:992px){
    .email__input{
        font-size: 0.875rem;
    }
}

@media screen and (max-width:768px){
    .email__input{
        padding: 16px 32px;
    }
}

@media screen and (max-width:576px){
    .email__input{
        padding: 12px 16px;
        max-width: unset;
        width: 100%;
    }
}

.email__button{
    display: flex;
    font-family: 'Nunito Sans',sans-serif;
    font-weight: 600;
    font-size: 1rem;

    color: var(--white-color);
    background-color: var(--gray-color);
    
    padding: 16px 36px;

    border-radius: 6px;

    white-space: nowrap;
}

@media screen and (max-width:1200px){
    .email__button{
        font-size: 0.875rem;
    }
}

@media screen and (max-width:992px){
    .email__button{
        font-size: 1rem;
    }
}

@media screen and (max-width:768px){
    .email__button{
        padding: 12px 24px;
        font-size: 0.875rem;
    }
}

.email__button:hover{

    background-color: unset;
    color: var(--gray-color);
}

.actual__content__lower__text{
    font-family: 'Nunito Sans',sans-serif;
    font-weight: 600;
    font-size: 0.875rem;

    color: var(--black-color);
}

@media screen and (max-width:1200px){
    .actual__content__lower__text{
        font-size: 0.675rem;
    }
}

@media screen and (max-width:992px){
    .actual__content__lower__text{
        font-size: 0.875rem;
    }
}

@media screen and (max-width:768px){
    .actual__content__lower__text{
        font-size: 0.675rem;
    }
}

@media screen and (max-width:576px){
    .actual__content__lower__text{
        font-size: 0.875rem;
    }
}

.actual__content__lower__text span{
    text-decoration: underline;
}